<header class="pageHeader">
  <div class="main-header">
    <div class="wrapper">
      <div class="toggle-menu-mobile">
        <button class="toggle-menu--button"><i class="ico-menu"></i></button>
      </div>
      <div class="search-box">
        <vtex.cmc:fullTextSearchBox />
      </div>
      <div class="logo">
        <a href="/">
          <img src="/arquivos/logo-edp.png" alt="Empório das patas" />
        </a>
      </div>
      <div class="secondary-menu">
        <div class="call-center">
          <div class="wrap-call-center">
            
            <div>
              <small>Fale Conosco</small>
              <!--a href="tel: 21 2412-5478"><Strong>21 2412.5478</Strong></a-->
              <a href="tel:1142127910" class="fixo"><i class="ico-tel"></i><strong>11 4212.7910</strong></a>
              <a href="https://api.whatsapp.com/send?phone=5511975198333&amp;text=Oi,%20Empório%20das%20Patas" target="_blank" class="wpp">
                <strong>Apenas WhatsApp: 11 97519.8333</strong>
              </a>
            </div>
          </div>
          <span class="horario">segunda a sexta das 9:00 às 18:00</span>
        </div>

        <div class="account">
          <div class="enterAccount dropdown">
            <div class="select">
              <i class="ico-user"></i>
              <div class="slect-text">
                <p>Bem Vindo!</p>
                <a href="/account">Entrar ou Cadastrar</a>
              </div>
            </div>
            <div class="hideContent">
              <ul>
                <li><a href="/account" title="Minha Conta">Minha Conta</a></li>
                <li><a href="/account/orders" title="Meus Pedidos">Meus Pedidos</a></li>
                <li>
                  <div class="welcomeMsg">
                    <vtex.cmc:welcomeMessage />
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="thisCart">
          <div class="header-cart">
            <div class="cart hover-menu">
              <div class="sta-cart">
                <a href="#" class="openCart">
                  <i class="ico-cart"></i>
                  <div class="info">0</div>
                </a>
              </div>
            </div>
            <div class="miniCart-content hover-menu-content"></div>
            <!-- /.cart -->
          </div>
          <!-- /.header-cart -->
        </div>
      </div>
    </div>
  </div>

  <div class="navegation-header">
    <div class="wrapper">
      <ul class="navegation-bar">

        <div class="mobile-navegation-header">
          <div class="account">
            <div class="enterAccount dropdown">
              <div class="select">
                <i class="ico-user"></i>
                <div class="slect-text">
                  <p>Bem Vindo!</p>
                  <a href="/account">Entrar ou Cadastrar</a>
                </div>
              </div>
              <div class="hideContent">
                <ul>
                  <li><a href="/account" title="Minha Conta">Minha Conta</a></li>
                  <li><a href="/account/orders" title="Meus Pedidos">Meus Pedidos</a></li>
                  <li>
                    <div class="welcomeMsg">
                      <vtex.cmc:welcomeMessage />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <button class="toggle-menu"><i class="ico-close"></i></button>
        </div>

        <li class="navegation-item has-sub-menu">
          <div class="mobili-wrap-navegation">
            <a href="/cachorro">
              <i class="ico-cao"></i>
              <span>Cachorro</span>
            </a>
            <button class="toggle-sub-menu">
              <i class="ico-arrow"></i>
            </button>
          </div>
          <div class="navegation-sub-menu">
            <div class="sub-menu-wrapper">
              <div class="sub-menu-collumn">
                <ul>
                  <li><a href="/cachorro/medicina-e-saude">Medicina e Saúde </a></li>
                  <li><a href="/cachorro/higiene-e-limpeza">Higiene e Limpeza </a></li>
                  <li><a href="/cachorro/acessorios-para-alimentacao">Acessórios para Alimentação </a></li>
                  <li><a href="/cachorro/adestramento-e-comportamento">Adestramento e Comportamento </a></li>
                  <li><a href="/cachorro/brinquedos">Brinquedos </a></li>
                  <li><a href="/cachorro/coleiras-guias-e-peitorais">Coleiras, Guias e Peitorais </a></li>
                  <li><a href="/cachorro/caminhas-e-outros">Caminhas e Outros</a></li>
                </ul>
              </div>
              <div class="sub-menu-collumn">
                <ul>
                  <li><a href="/cachorro/passeio-e-viagem">Passeio e Viagem </a></li>
                  <li><a href="/cachorro/ossinhos-e-petiscos">Ossinhos e Petiscos </a></li>
                  <li><a href="/cachorro/roupas-e-acessorios">Roupas e Acessórios </a></li>
                </ul>
              </div>
              <div class="sub-menu-collumn">
                <vtex.cmc:shelfOnMenuCao />
              </div>
            </div>
          </div>
        </li>
        
        <li class="navegation-item has-sub-menu">
          <div class="mobili-wrap-navegation">
            <a href="/gatos">
              <i class="ico-gato"></i>
              <span>Gatos</span>
            </a>
            <button class="toggle-sub-menu">
              <i class="ico-arrow"></i>
            </button>
          </div>
          <div class="navegation-sub-menu">
            <div class="sub-menu-wrapper">
              <div class="sub-menu-collumn">
                <ul>
                  <li><a href="/gatos/medicina-e-saude">Medicina e Saude </a></li>
                  <li><a href="/gatos/acessorios-para-alimentacao">Acessórios para Alimentação </a></li>
                  <li><a href="/gatos/adestramento-e-comportamento">Adestramento e Comportamento </a></li>
                  <li><a href="/gatos/arranhador-para-gatos">Arranhador para Gatos </a></li>
                  <li><a href="/gatos/brinquedos">Brinquedos </a></li>
                  <li><a href="/gatos/caixa-de-areia-e-limpeza">Caixa de Limpeza </a></li>
                  <li><a href="/gatos/caminhas-e-outros">Caminhas e Outros </a></li>
                  <li><a href="/gatos/casinhas">Casinhas </a></li>
                </ul>
              </div>
              <div class="sub-menu-collumn">
                <ul>
                  <li><a href="/gatos/higiene-e-beleza">Higiene e Beleza</a></li>
                  <li><a href="/gatos/ossinhos-e-petiscos">Ossinhos e Petiscos</a></li>
                  <li><a href="/gatos/passeio-e-viagem">Passeio e Viagem</a></li>
                </ul>
              </div>
              <div class="sub-menu-collumn">
                <vtex.cmc:shelfOnMenuGatos />
              </div>
            </div>
          </div>
        </li>

        <li class="navegation-item has-sub-menu">
          <div class="mobili-wrap-navegation">
            <a href="/piscina-e-jardim">
              <i class="ico-tigela"></i>
              <span>CASA E JARDIM</span>
            </a>
            <button class="toggle-sub-menu">
              <i class="ico-arrow"></i>
            </button>
          </div>
          <div class="navegation-sub-menu">
            <div class="sub-menu-wrapper">
              <div class="sub-menu-collumn">
                <ul>
                  <li><a href="/piscina-e-jardim/jardinagem">Jardinagem </a></li>
                  <li><a href="/piscina-e-jardim/limpeza">Limpeza </a></li>
                </ul>
              </div>
              <div class="sub-menu-collumn">
              </div>
              <div class="sub-menu-collumn">
                <vtex.cmc:shelfOnMenuPiscinaJardim />
              </div>
            </div>
          </div>
        </li>

        <li class="navegation-item has-sub-menu">
          <div class="mobili-wrap-navegation">
            <a href="/passaros">
              <i class="ico-passaro"></i>
              <span>Pássaros</span>
            </a>
            <button class="toggle-sub-menu">
              <i class="ico-arrow"></i>
            </button>
          </div>
          <div class="navegation-sub-menu">
            <div class="sub-menu-wrapper">
              <div class="sub-menu-collumn">
                <ul>
                  <li><a href="/passaros/gaiolas-e-acessorios">Gaiolas e Acessórios </a></li>
                  <li><a href="/passaros/alimentacao">Alimentação </a></li>
                  <li><a href="/passaros/acessorios-para-alimentacao">Acessórios para Alimentação </a></li>
                  <li><a href="/passaros/medicina-e-saude">Medicina e Saúde </a></li>
                </ul>
              </div>
              <div class="sub-menu-collumn">

              </div>
              <div class="sub-menu-collumn">
                <vtex.cmc:shelfOnMenuPassaro />
              </div>
            </div>
          </div>
        </li>

        <!--<li class="navegation-item has-sub-menu">-->
        <!--  <div class="mobili-wrap-navegation">-->
        <!--    <a href="/peixes">-->
        <!--      <i class="ico-peixe"></i>-->
        <!--      <span>Peixes</span>-->
        <!--    </a>-->
        <!--    <button class="toggle-sub-menu">-->
        <!--      <i class="ico-arrow"></i>-->
        <!--    </button>-->
        <!--  </div>-->

        <!--  <div class="navegation-sub-menu">-->
        <!--    <div class="sub-menu-wrapper">-->
        <!--      <div class="sub-menu-collumn">-->
        <!--        <ul>-->
        <!--          <li><a href="/peixes/plantas-e-enfeites">Plantas e Enfeites </a></li>-->
        <!--          <li><a href="/peixes/racao-vitaminas-e-outros">Rações, Vitaminas e Outros </a></li>-->
        <!--          <li><a href="/peixes/manutencao-e-limpeza">Manutenção e Limpeza </a></li>-->
        <!--          <li><a href="/peixes/aquarios-e-acessorios">Aquários e Acessórios </a></li>-->
        <!--        </ul>-->
        <!--      </div>-->
        <!--      <div class="sub-menu-collumn">-->

        <!--      </div>-->
        <!--      <div class="sub-menu-collumn">-->
        <!--        <vtex.cmc:shelfOnMenuPeixes />-->
        <!--      </div>-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</li>-->

        <!--<li class="navegation-item has-sub-menu">-->
        <!--  <div class="mobili-wrap-navegation">-->
        <!--    <a href="/repteis">-->
        <!--      <i class="ico-cobra"></i>-->
        <!--      <span>Répteis</span>-->
        <!--    </a>-->
        <!--    <button class="toggle-sub-menu">-->
        <!--      <i class="ico-arrow"></i>-->
        <!--    </button>-->
        <!--  </div>-->
        <!--  <div class="navegation-sub-menu">-->
        <!--    <div class="sub-menu-wrapper">-->
        <!--      <div class="sub-menu-collumn">-->
        <!--        <ul>-->
        <!--          <li><a href="/repteis/racao-vitaminas-e-outros">Ração, Vitaminas e Outros </a></li>-->
        <!--          <li><a href="/repteis/habitat-e-acessorios">Habitat e Acessórios </a></li>-->
        <!--          <li><a href="/repteis/gaiolas-e-aquaterrarios">Gaiolas e Aquaterrarios </a></li>-->
        <!--          <li><a href="/repteis/acessorios-para-alimentacao">Acessórios para Alimentação </a></li>-->
        <!--        </ul>-->
        <!--      </div>-->
        <!--      <div class="sub-menu-collumn">-->

        <!--      </div>-->
        <!--      <div class="sub-menu-collumn">-->
        <!--        <vtex.cmc:shelfOnMenuRepteis />-->
        <!--      </div>-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</li>-->


        <!--<li class="navegation-item has-sub-menu">-->
        <!--  <div class="mobili-wrap-navegation">-->
        <!--    <a href="/roedores">-->
        <!--      <i class="ico-rato"></i>-->
        <!--      <span>Roedores</span>-->
        <!--    </a>-->
        <!--    <button class="toggle-sub-menu">-->
        <!--      <i class="ico-arrow"></i>-->
        <!--    </button>-->
        <!--  </div>-->

        <!--  <div class="navegation-sub-menu">-->
        <!--    <div class="sub-menu-wrapper">-->
        <!--      <div class="sub-menu-collumn">-->
        <!--        <ul>-->
        <!--          <li><a href="/roedores/acessorios-para-alimentacao">Acessórios para Alimentação </a></li>-->
        <!--          <li><a href="/roedores/gaiolas-e-acessorios">Gaiolas e Acessórios </a></li>-->
        <!--          <li><a href="/roedores/higiene-e-beleza">Higiene e Beleza </a></li>-->
        <!--          <li><a href="/roedores/ninhos-e-camas">Ninhos e Camas </a></li>-->
        <!--          <li><a href="/roedores/medicina-e-saude">Medicina e saude </a></li>-->
        <!--          <li><a href="/roedores/racoes-e-alimentos">Rações e Alimentos </a></li>-->
        <!--        </ul>-->
        <!--      </div>-->
        <!--      <div class="sub-menu-collumn">-->

        <!--      </div>-->
        <!--      <div class="sub-menu-collumn">-->
        <!--        <vtex.cmc:shelfOnMenuRoedores />-->
        <!--      </div>-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</li>-->

        <li class="navegation-item has-sub-menu">
          <div class="mobili-wrap-navegation">
            <a href="/equino">
              <i class="ico-equino"></i>
              <span>EQUINO</span>
            </a>
            <button class="toggle-sub-menu">
              <i class="ico-arrow"></i>
            </button>
          </div>

          <div class="navegation-sub-menu">
            <div class="sub-menu-wrapper">
              <div class="sub-menu-collumn">
                <ul>
                  <li><a href="/equino/higiene-e-beleza">Higiene e Beleza </a></li>
                  <li><a href="/equino/medicina-e-saude">Medicina e Saúde </a></li>
                </ul>
              </div>
              <div class="sub-menu-collumn">

              </div>
              <div class="sub-menu-collumn">
                <vtex.cmc:shelfOnMenuEquino />
              </div>
            </div>
          </div>
        </li>

        <li class="navegation-item has-sub-menu institutionals-menu-links" style="display:none;">
          <div class="mobili-wrap-navegation">
            <!-- <a href="/equino">
                <i class="ico-equino"></i> -->
            <span>Institucional</span>
            <!-- </a> -->
            <button class="toggle-sub-menu">
              <i class="ico-arrow"></i>
            </button>
          </div>
          <div class="navegation-sub-menu">
            <div class="sub-menu-wrapper">
              <div class="sub-menu-collumn">
                <ul>
                  <li><a href="/institucional/fale-conosco">Fale Conosco</a></li>
                  <li><a href="/institucional/duvidas-frequentes">Dúvidas Frequentes</a></li>
                  <li><a href="/institucional/politica-de-troca">Política de troca</a></li>
                  <li><a href="/account">Minha conta</a></li>
                  <li><a href="/account/orders">Meus pedidos</a></li>
                  <li><a href="/institucional/quem-somos">Quem Somos</a></li>
                  <li><a href="/institucional/nossas-lojas">Nossa Loja</a></li>
                  <li><a href="/institucional/trabalhe-conosco">Trabalhe Conosco</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="overlay"></div>
</header>