<footer class="pageFooter">

	<div class="newsletter-footer">
		<div class="wrapper">
			<div class="text">
				<div> <strong>Assine Nossa<br /> Newsletter</strong> </div>
				<div>
					<p>Receba nossas novidades<br /> e promoções exclusivas.</p>
				</div>
			</div>
			<form id="nesletter-footer">
				<div class="fields">
					<div class="field-wrap">
						<input type="text" placeholder="Digite seu e-mail" id="email" name="email" required="required" />
					</div>
					<div class="field-wrap">
						<select id="pet" name="pet" required="required">
							<option value="" selected="selected" disabled="disabled">Qual é o seu pet?</option>
							<option value="Cachorro">Cachorro</option>
							<option value="Gato">Gato</option>
							<option value="Pássaro">Pássaro</option>
						</select>
					</div>
					<div class="field-wrap">
						<button>Cadastrar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="middle-footer">
		<div class="wrapper">

			<div class="logo">
				<a href="/">
					<img src="/arquivos/logo-edp.png" alt="Empório das patas" />
				</a>
			</div>

			<div class="network">
				<ul>
					<li><a href="https://www.facebook.com/lojaemporiodaspatas" target="_blank" rel="nofollow"><i class="ico-facebook"></i></a></li>
					<li><a href="https://twitter.com/emporiodaspatas" target="_blank" rel="nofollow"><i class="ico-twitter"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UCaPuTXiBN87LLnaFP6gYi_g" target="_blank" rel="nofollow"><i class="ico-youtube"></i></a></li>
					<li><a href="https://www.instagram.com/emporiodaspatas/?hl=pt-br" target="_blank" rel="nofollow"><i class="ico-insta"></i></a></li>
				</ul>
			</div>

			<div class="call-center full-w-mobile">
				<h3 class="start-accordeon">Atendimento</h3>
				<div class="wrap-accordeon">
					<div class="wrap-call-center">
						<div>
							
							<a href="tel:+551142127910"><strong><i class="ico-tel"></i>11 4212.7910</strong></a>
							<a href="https://api.whatsapp.com/send?phone=5511975198333&amp;text=Oi%20emporio%20das%20patas" class="wpp">
							    <strong>Apenas WhatsApp: 11 97519.8333</strong>
						    </a>
						</div>
					</div>
					<p><small><a href="mailto:contato@emporiodaspatas.com.br">atendimento@emporiodaspatas.com.br</a></small></p>
					<p><small>De segunda a sexta, exceto feriados - Das 09h às 18h</small></p>
				</div>
			</div>

			<div class="institutional full-w-mobile">
				<div class="colum">
					<h3 class="start-accordeon">Suporte</h3>
					<div class="wrap-accordeon">
						<ul>
							<li><a href="/institucional/fale-conosco">Fale Conosco</a></li>
							<li><a href="/institucional/duvidas-frequentes">Dúvidas Frequentes</a></li>
							<li><a href="/institucional/politica-de-troca">Política de troca</a></li>
							<li><a href="/account">Minha conta</a></li>
							<li><a href="/account/orders">Meus pedidos</a></li>
						</ul>
					</div>
				</div>
				<div class="colum">
					<h3 class="start-accordeon">Institucional</h3>
					<div class="wrap-accordeon">
						<ul>
							<li><a href="/institucional/quem-somos">Quem Somos</a></li>
							<li><a href="/institucional/nossas-lojas">Nosso Endereço</a></li>
							<li><a href="/institucional/trabalhe-conosco">Trabalhe Conosco</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="bandeiras hide-desktop full-w-mobile">
				<h3 class="start-accordeon">Formas de pagamento</h3>
				<div class="wrap-accordeon">
					<ul>
						<li><img src="/arquivos/ico-pagamento-master.png" alt="" /></li>
						<li><img src="/arquivos/ico-pagamento-visa.png" alt="" /></li>
						<li><img src="/arquivos/ico-pagamento-amex.png" alt="" /></li>
						<li><img src="/arquivos/ico-pagamento-dines.png" alt="" /></li>
						<li><img src="/arquivos/ico-pagamento-elo.png" alt="" /></li>
						<li class="ico-custom"><img src="/arquivos/ico-pagamento-ame.png" alt="" /></li>
					</ul>
				</div>
			</div>

			<div class="safe hide-desktop full-w-mobile">
				<h3 class="start-accordeon">Certificados</h3>
				<div class="wrap-accordeon">
					<ul>
						<li><a href="https://secure.vtex.com/?an=emporiodaspatas" target="_blank" rel="nofollow"><img src="/arquivos/vtex-pci.png" alt="" /></a></li>
						<li><a href="https://letsencrypt.org/" target="_blank" rel="nofollow"><img src="/arquivos/lets-encrypt.png" alt="" /></a></li>
						<li><a href="https://transparencyreport.google.com/safe-browsing/search#url=www.emporiodaspatas.com.br" target="_blank" rel="nofollow"><img src="/arquivos/selo-google-safe.png" alt="" /></a></li>
						<li>
						 <div id="ra-verified-seal-mobile">
						  <script type="text/javascript" id="ra-embed-verified-seal" src="https://s3.amazonaws.com/raichu-beta/ra-verified/bundle.js" data-id="Wnh0WXNSRG5Lb1o0cnJZNjplbXBvcmlvLWRhcy1wYXRhcw==" data-target="ra-verified-seal-mobile" data-model="1">
						  </script>
						 </div>
						    
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom-footer">
		<div class="wrapper">
			<div class="bandeiras">
				<h3>Formas de pagamento</h3>
				<ul>
					<li><img src="/arquivos/ico-pagamento-master.png" alt="" /></li>
					<li><img src="/arquivos/ico-pagamento-visa.png" alt="" /></li>
					<li><img src="/arquivos/ico-pagamento-amex.png" alt="" /></li>
					<li><img src="/arquivos/ico-pagamento-dines.png" alt="" /></li>
					<li><img src="/arquivos/ico-pagamento-elo.png" alt="" /></li>
					<li class="ico-custom"><img src="/arquivos/ico-pagamento-ame.png" alt="" /></li>
				</ul>
			</div>
			<div class="safe">
				<h3>Certificados</h3>
				<ul>
					<li><a href="https://secure.vtex.com/?an=emporiodaspatas" target="_blank" rel="nofollow"><img src="/arquivos/vtex-pci.png" alt="" /></a></li>
					<li><a href="https://letsencrypt.org/" target="_blank" rel="nofollow"><img src="/arquivos/lets-encrypt.png" alt="" /></a></li>
					<li><a href="https://transparencyreport.google.com/safe-browsing/search#url=www.emporiodaspatas.com.br" target="_blank" rel="nofollow"><img src="/arquivos/selo-google-safe.png" alt="" /></a></li>
					<li>
					  <div id="ra-verified-seal">
					    <script type="text/javascript" id="ra-embed-verified-seal" src="https://s3.amazonaws.com/raichu-beta/ra-verified/bundle.js" data-id="Wnh0WXNSRG5Lb1o0cnJZNjplbXBvcmlvLWRhcy1wYXRhcw==" data-target="ra-verified-seal" data-model="1"></script>
					  </div>
					</li>
				</ul>
			</div>
			<div class="dev">
				<ul>
					<li>
						<span>Created by</span>
						<a href="http://agenciaecan.com.br/" target="_blank"><img src="/arquivos/ico-ecan.png" alt="" /></a>
					</li>
					<li>
						<span>Powered by</span>
						<a href="http://agenciaecan.com.br/" target="_blank"><img src="/arquivos/ico-vtex.png" alt="" /></a>
					</li>
				</ul>
			</div>
			<div class="powered-by">
				<p>EDP Importação Exportação Loja Virtual Pet LTDA - CNPJ 28.103.278/0001-03 - Rua Cavalheiro Frontini, 594 -
					Sacomã - SP, 04241-000 - Contato / WhatsApp 11-97519-8333 e-mail atendimento@emporiodaspatas.com.br. Todos os direitos reservado.</p>
			</div>
		</div>
	</div>

	<div id="back-to-top">
		<i class="ico-arrow"></i>
	</div>

</footer>

<div id="newsletter-modal" class="modal">
	<a href="#" rel="modal:close"><i class="ico-close"></i></a>

	<div class="wrap-news-modal">
		<div class="status">
			<div class="initial box active">
				<h3>Assine Nossa Newsletter</h3>
				<p>Receba nossas <span>novidades e promoções</span> exclusivas.</p>
				<form id="nesletter-modal-form">
					<div class="fields">
						<div class="field-wrap">
							<input type="text" placeholder="Digite seu e-mail" id="email" name="email" required="required" />
						</div>
						<div class="field-wrap">
							<select id="pet" name="pet" required="required">
								<option value="" selected="selected" disabled="disabled">Qual é o seu pet?</option>
								<option value="Cachorro">Cachorro</option>
								<option value="Gato">Gato</option>
								<option value="Pássaro">Pássaro</option>
							</select>
						</div>
						<div class="field-wrap">
							<button>Cadastrar</button>
						</div>
					</div>
				</form>
			</div>
			<div class="error box">
				<h3>Seu e-mail já está cadastrado</h3>
				<a class="try is-button">Tentar novamente</a>
			</div>
			<div class="success box">
				<div class="wrap">
					<img src="/arquivos/sucesso-news.png" alt="" />
					<div class="wrap-text">
						<p>Obrigado pelo preenchimento. Acabamos de lhe enviar um email com um link para você confirmar o cadastro em
							nossas promoções, dicas para pets e novidades!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="chat-whats">
    <a href="https://api.whatsapp.com/send?phone=5511975198333&amp;text=Oi,%20Empório%20das%20Patas" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"/>
    </svg>
    </a>
</div>

<!-- controle de aceite -->
<vtex.cmc:aceiteTermosPrivacidade />